openai
azure-identity
azure-search-documents==11.4.0b6
jinja2
h11>=0.16.0 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.4 # not directly required, pinned by Snyk to avoid a vulnerability